<section class="home">
    <div class="wrapper">
        <div class="home__wrapper">
            <div class="home__left">
                <h1 class="home__heading">Надежный помощник в лечении варикоза</h1>
                <ul class="home__list">
                    <li class="home__item">
                        <svg class="home__icon">
                            <use xlink:href="./images/home/home-sprite.svg#shema"></use>
                        </svg>
                        <a class="home__link" href="#">Схема приема</a>
                    </li>
                    <li class="home__item">
                        <svg class="home__icon">
                            <use xlink:href="./images/home/home-sprite.svg#document"></use>
                        </svg>
                        <a class="home__link" href="#">Инструкция</a>
                    </li>
                    <li class="home__item">
                        <svg class="home__icon">
                            <use xlink:href="./images/home/home-sprite.svg#map"></use>
                        </svg>
                        <a class="home__link" href="#">Где купить</a>
                    </li>
                </ul>
            </div>
            <div class="home__raght">
                <div class="swiper">
                    <ul class="swiper__list">
                        <li class="swiper__item">
                            <img src="./images/home/venarus1.png" alt="venarus">
                        </li>
                        <li class="swiper__item">
                            <img src="./images/home/venarus2.png" alt="venarus">
                        </li>
                        <li class="swiper__item">
                            <img src="./images/home/venarus3.png" alt="venarus">
                        </li>
                    </ul>
                    <div class="swiper__btn">
                        <div class="swiper__prev"></div>
                        <div class="swiper__next"></div>
                    </div>
                </div>
                <a href="#" class="home__link-btn">Где купить ></a>
            </div>
        </div>
    </div>
</section>