<section class="project">
    <div class="wrapper">
        <div class="project__wrapper">
            <div class="project__left">
                <h3 class="project__heading">О препарате</h3>
                <p class="project__description">Венарус показан для терапии симптомов хронических заболеваний вен (устранения и облегчения симптомов).</p>
                <a href="#" class="project__link">Подробнее ></a>
            </div>
            <ul class="project__list">
                <li class="project__item">
                    <svg class="project__icon">
                        <use xlink:href="./images/medication/medication-sprite.svg#medication1"></use>
                    </svg>
                    <p class="project__text">Помогает предотвратить судороги</p>
                </li>
                <li class="project__item">
                    <p class="project__text">Способствует снижению тяжести в ногах</p>
                    <svg class="project__icon">
                        <use xlink:href="./images/medication/medication-sprite.svg#medication3"></use>
                    </svg>
                </li>
                <li class="project__item">
                    <svg class="project__icon">
                        <use xlink:href="./images/medication/medication-sprite.svg#medication2"></use>
                    </svg>
                    <p class="project__text">Способствует снижению болевых ощущений</p>
                </li>
            </ul>
        </div>
    </div>
</section>