<section class="slogans">
    <div class="wrapper">
        <ul class="slogans__list">
            <li class="slogans__item">
                <svg class="slogans__icon">
                    <use xlink:href="./images/slogans/slogan-sprite.svg#slogan1"></use>
                </svg>
                <p class="slogans__text">Доказанная <br>  эффективность</p>
            </li>
            <li class="slogans__item">
                <svg class="slogans__icon">
                    <use xlink:href="./images/slogans/slogan-sprite.svg#slogan2"></use>
                </svg>
                <p class="slogans__text">Новая дозировка <br> 100 мг + 900 мг</p>
            </li>
            <li class="slogans__item">
                <svg class="slogans__icon">
                    <use xlink:href="./images/slogans/slogan-sprite.svg#slogan3"></use>
                </svg>
                <p class="slogans__text">Удобный прием. <br> Одна таблетка в сутки* <small><svg>
                    <use xlink:href="./images/slogans/slogan-sprite.svg#explanation"></use>
                </svg></small></p>
            </li>
        </ul>
    </div>
</section>
