$bg-color: #E3E3E3;
$w-wrapper: 1140px;
$p-lr-wrapper: 150px;

$color-accent: #590D56;
$color-white: #ffffff;
$color-dark-gray: #242424;
$color-gray: #777777;

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;
$breakpoint_xs: 320px;

